.masthead {
	padding: 1em;
	background:#D3F99A;
	background-size:cover;
	font-family: 'IBM Plex Mono', monospace;;
	font-size: 1.7em;
}

.masthead-piezo {
	padding: 1em;
	background:#cdff63;
	background-size:cover;
	font-family: 'IBM Plex Mono', monospace;
}

