.current{

	background-color: #FFFC2E;
	color: #7A0000;

}

.nav {
	margin: 0;
	padding: 0;

	list-style-type: none;
	text-align: left; 

}

.nav li {
	display: inline-block;
	
}

.nav-top {
	font-size: 1.25rem;
}

.nav-bottom { 
	padding-top: 10px;
	padding-left: 0px;
	font-size: 0.9rem;
	text-align: center;
}



