---
layout: default

title: Clay

---
<div id="contentbox_center">
<img src="{{site.baseurl}}/assets/img/clay.png" alt="symbol for clay" width= "100px" style="vertical-align:middle">
<h1>Clay</h1>
<div id="textbox2">


<p>
This group possesses an homemade bean resister that varies the resistance. Clay-carbon mixture change the resistance slowly over time depends on the moisture in the air, or at least that what it seems. 
</p>


</div>
</div>



	{% include bugs_list_group.html group='clay' show='ya'%}
	{% include bugs_list_group2.html group2='clay' show='ya'%}
	{% include bugs_list_group_community.html group='clay' community='ya'%}

