---
layout: default
title: Decay
---

<div id="contentbox_center">
<img src="{{site.baseurl}}/assets/img/decay.png" alt="symbol for decay" width= "100px" style="vertical-align:middle">
<h1>Decay</h1>
<div id="textbox2">



<p>
Decay group is exposed to element usually outdoor with wind, sun, rain, snow, earth. They might change characteristic over time as the elements rusts the limbs and corrodes the vocal cords and taint the solar cells.
</p>


</div>
</div>



	{% include bugs_list_group.html group='decay' show='ya'%}
	
	{% include bugs_list_group_community.html group='decay' community='ya'%}

