---
layout: default

title: Fabulous
---
<div id="contentbox_center">
<img src="{{site.baseurl}}/assets/img/fabulous.png" alt="symbol for fabulous" width= "100px" style="vertical-align:middle">
<h1>Fabulous</h1>
<div id="textbox2">


<p>
Fabulous style bugs are rare. Most of them were found by accidents in the making. Fabulous bugs possess effortless elegance and mystical quality in their character. 
</p>


</div>
</div>



	{% include bugs_list_style.html style='fabulous' show='ya'%}
	{% include bugs_list_style_community.html style='fabulous' community='ya'%}

	<br>
	<br>

<div id="contentbox2">

<img src="{{site.baseurl}}/assets/img/friza.png" width= "200px">

</div>

