---
layout: default

title: Kageboshi
---
<div id="contentbox_center">
<img src="{{site.baseurl}}/assets/img/kageboshi.png" alt="symbol for kageboshi" width= "100px" style="vertical-align:middle">
<h1>Kageboshi</h1>
<div id="textbox2">


<p>
Kageboshi bugs are sensetive to the shadows. They cry when there is a dramatic shift in the light that will trigger their threshold. Sometimes they even react to the cloud covering the sun, and the change in light that are not detectable to our eyes. 
</p>


</div>
</div>



	{% include bugs_list_group.html group='kageboshi' show='ya'%}
	{% include bugs_list_group2.html group2='kageboshi' show='ya'%}
	{% include bugs_list_group_community.html group='kageboshi' community='ya'%}

	<br>
	<br>



