---
layout: default

title: Loose Joint
---
<div id="contentbox_center">
<img src="{{site.baseurl}}/assets/img/loose_joint.png" alt="symbol for loose" width= "100px" style="vertical-align:middle">
<h1>Loose Joint</h1>
<div id="textbox2">


<p>
Bug with this group posesses a part that are loose and jingles which introduces a unexpected variable that result in instability. Time to time, bug with loose joint becomes quiet for a long time until they are jiggles once again. They need a ocasional touch.
</p>


</div>
</div>



	{% include bugs_list_style.html style='loose_joint' show='ya'%}
	{% include bugs_list_style_community.html style='loose_joint' community='ya'%}

	<br>
	<br>

<div id="contentbox2">



</div>

