---
layout: default
mastheadClass: masthead-sounder
title: magnetic
---
<div id="contentbox_center">
<img src="{{site.baseurl}}/assets/img/magnetic.png" alt="symbol for Magnetic" width= "100px" style="vertical-align:middle">
<h1>Magnetic</h1>
<div id="textbox2">


<p>
	Bug with magnetic traits posesses magnet as a part of their body. They are attracted to steel objects and they can stick and perch on to them.
</p>



</div>
</div>



	{% include bugs_list_traits.html traits='magnetic' show='ya'%}
	{% include bugs_list_traits_community.html traits='magnetic' community='ya'%}

<div id="contentbox">
<div id="textbox">




</div>
</div>