---
layout: default
title: motor

---
<div id="contentbox_center">
<img src="{{site.baseurl}}/assets/img/motor.png" alt="symbol for motor" width= "100px" style="vertical-align:middle">
<h1>Motor</h1>
<div id="textbox2">


<p>All members of this family have a moving limb ——motor—— as a means of expressions. Magnet and long wound coil. When the wound coil gets electric current through them, the magnetic field is formed around the coil radiating in relation to the direction of the current. Based on fleming's law, the magnetic field of coil interacts with the magnetic field from the magnet inside of the motor. The movement is created.
</p>


</div>
</div>

	{% include bugs_list_family.html family='motor' show='ya'%}
	{% include bugs_list_family_community.html family='motor' community='ya'%}
