---
layout: default
title: Music Box
---

<div id="contentbox_center">
<img src="{{site.baseurl}}/assets/img/musicbox.png" alt="symbol for musicbox" width= "100px" style="vertical-align:middle">
<h1>Music Box</h1>
<div id="textbox2">


<p>
This group has a music box as part of their body. The song is played over a stretched period of time that is depended on the amount of the sun they get. The note is played one by one, highlighting the suspended time between the notes. Stretched silence after each note makes us wonder if that note was the last one we ever hear.
</p>


</div>
</div>



	{% include bugs_list_group.html group='musicbox' show='ya'%}
	{% include bugs_list_group_community.html group='musicbox' community='ya'%}

