---
layout: default

title: Projector

---
<div id="contentbox_center">
<img src="{{site.baseurl}}/assets/img/projector.png" alt="symbol for projector" width= "100px" style="vertical-align:middle">
<h1>Projector</h1>
<div id="textbox2">


<p>
This traits of bug possess an organ that allows them to reflect sunlight. Often these organs are made of reflecting film. Some of these reflector organ moves and creates patterns on walls, floor, ceilings and things around them. This organ gives these beings expanded footprints and expressions in our lives beyond the stationary impressions. 
</p>



</div>
</div>



	
	{% include bugs_list_traits.html traits='projector' show='ya'%}
	{% include bugs_list_traits_community.html traits='projector' community='ya'%}

<div id="contentbox">
<div id="textbox">




</div>
</div>