---
layout: default
title: Receptacle
---

<div id="contentbox_center">
<img src="{{site.baseurl}}/assets/img/receptacle.png" alt="symbol for receptacle" width= "100px" style="vertical-align:middle">
<h1>Receptacle</h1>
<div id="textbox2">

<img src="{{site.baseurl}}/assets/img/receptacle_sample.jpg" alt="Photograph of receptacle" align="center" width="100%"> </a> <br> 

<p>
Receptacle group posesses a housing for it's body. Housing protects the bugs from the elements and forces during it's migration. 
</p>


</div>
</div>



	{% include bugs_list_group.html group='receptacle' show='ya'%}
	{% include bugs_list_group_community.html group='receptacle' community='ya'%}

