---
layout: default

title: Screamer
---
<div id="contentbox_center">
<img src="{{site.baseurl}}/assets/img/screamer.png" alt="symbol for screamer" width= "100px" style="vertical-align:middle">
<h1>Screamer</h1>
<div id="textbox2">


<p>
Bug with screamer traits are in a proximity to the bugs with cicata traits. They posesses unexpected ability to scream when the light is just right. 
</p>


</div>
</div>



	{% include bugs_list_traits.html traits='screamer' show='ya'%}
	{% include bugs_list_traits_community.html traits='screamer' community='ya'%}

	<br>
	<br>

<div id="contentbox2">

</div>

