---
layout: default

title: Singer

---
<div id="contentbox_center">
<img src="{{site.baseurl}}/assets/img/singer.png" alt="symbol for singer" width= "100px" style="vertical-align:middle">
<h1>{{ page.title }}</h1>
<div id="textbox2">


<p>
Bugs with this traits posesses particular caidence. They "sing" in a way for us that sounds melodic.

</p>



</div>
</div>



	{% include bugs_list_traits.html traits='singer' show='ya'%}
	{% include bugs_list_traits_community.html traits='singer' community='ya'%}

<div id="contentbox">
<div id="textbox">




</p>
</div>
</div>