---
layout: default
title: Smartcap
---

<div id="contentbox_center">
<img src="{{site.baseurl}}/assets/img/smartcap.png" alt="symbol for smartcap" width= "100px" style="vertical-align:middle">
<h1>smartcap</h1>
<div id="textbox2">



<p>
Smartcap group possesses a circuit based on a solar engine called "smartcap" that is based on a design by Bob Shannon that can be read <a href="http://solarbotics.net/default.html"> here</a> under BEAM Circuits >> nocturnal. This group is sensitive to a loss of light and they give a bursts when they see the dark. Some can cry in slightest change of daylight as well, crying when the cloud covers the sun.
</p>


</div>
</div>



	{% include bugs_list_group.html group='smartcap' show='ya'%}
	{% include bugs_list_group_community.html group='smartcap' community='ya'%}
	{% include bugs_list_group2.html group2='smartcap' show='ya'%}


