---
layout: default
title: Surface
---

<div id="contentbox_center">
<img src="{{site.baseurl}}/assets/img/surface.png" alt="symbol for surface" width= "100px" style="vertical-align:middle">
<h1>Surface</h1>
<div id="textbox2">



<p>
Receptacle group posesses a housing for it's body. Housing protects the bugs from the elements and forces during it's migration. 
</p>


</div>
</div>



	{% include bugs_list_group.html group='surface' show='ya'%}
	{% include bugs_list_group_community.html group='surface' community='ya'%}

