---
layout: default

title: Tapper

---
<div id="contentbox_center">
<img src="{{site.baseurl}}/assets/img/tapper.png" alt="symbol for tapper" width= "100px" style="vertical-align:middle">
<h1>Tapper</h1>
<div id="textbox2">


<p>
This traits of bug possess an organ that allows them to tap on things. Tapping mechanism for this organ varies from simply pager motor to spring-loaded contraptions. These traits are in the proximity of the parasitic group since many of them interact with other objects.

</p>


</div>
</div>



	{% include bugs_list_traits.html traits='tapper' show='ya'%}
	{% include bugs_list_traits_community.html traits='tapper' community='ya'%}


<div id="contentbox">
<div id="textbox">



</div>
</div>