

<!-- <ul> -->


		{% for post in site.posts %}
		  	
		  	   

		  		
		  		<div class="postbox">
		  		<a href="{{post.url}}">

		  		<div class="anotherpostbox">

		  		{{post.date | date_to_string}}

		  

				<li>{{post.title}} </li>

				<li><img src="{{site.baseurl}}/assets/img/post/{{post.img}}" alt="img for {{post.title}}" width= "200px" style="vertical-align:middle"> </li>

				<li> {{post.discription}} </li>

				
					
			   </div>
			   </a>

			   </div>
			


			  
			{% endfor %}
		
	<!-- </ul> -->

