

<ul>
		{% for bug in site.pages %}
		  	{% if bug.family == include.family %}

		  	<table style="width:100%">

				<tr>

				
					<th><a href="{{site.baseurl}}{{bug.url}}">
					<img src="{{site.baseurl}}/assets/img/{{bug.image}}" alt="photograph of {{bug.title}}" width="30%" align="center">
					</a></th><br>
					<th>{{bug.title}}<br></th>
					<th>{{bug.species}}<br></th>
					
					<th><audio controls> 
						<source src="{{site.baseurl}}/assets/audio/{{bug.sound}}" type="audio/wav">
						<source src="{{site.baseurl}}/assets/audio/{{bug.sound1}}" type="audio/ogg">
						Your browser does not support the audio element.
					</audio></th>
					
					
				</tr>

			  
				


			{% endif %}
		{% endfor %}
	</ul>

