<nav>
		<ul class= "nav {{include.navclass}}">
			<li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}"> Home </a></li>
			<li><a href="{{site.baseurl}}/preface/" class="{% if page.url contains 'preface' %}current{% endif %}"> Preface</a></li>
			<li><a href="{{site.baseurl}}/classification/" class="{% if page.url contains 'classification' %}current{% endif %}"> Classification</a></li>
			
			<li><a href="{{site.baseurl}}/resource/" class="{% if page.url contains 'resource' %}current{% endif %}"> Resource</a></li>
			<li><a href="{{site.baseurl}}/forsale/" class="{% if page.url contains 'forsale' %}current{% endif %}"> For Sale</a></li>
		</ul>
</nav>