---
layout: default

---

 

<div id="contentbox_center">

<h1> {{ page.title }} </h1>


<div class="dataimage">

<a href="{{site.baseurl}}/assets/img/bugs/{{page.title}}/{{page.image}}" alt="Photograph of {{page.title}}">

<img src="{{site.baseurl}}/assets/img/bugs/{{page.title}}/{{page.image}}" alt="Photograph of {{page.title}}" align="center" width="100%"></a> <br> 

</div>

<br>

<a href="{{site.baseurl}}/catalogue/categoryPage/{{page.family}}/"><img src="{{site.baseurl}}/assets/img/{{page.family}}.png" alt="symbol for {{page.family}}" width= "45px" style="vertical-align:middle"></a>
<a href="{{site.baseurl}}/catalogue/categoryPage/{{page.species}}/"><img src="{{site.baseurl}}/assets/img/{{page.species}}.png" alt="symbol for {{page.species}}" width= "45px" style="vertical-align:middle"></a>
<a href="{{site.baseurl}}/catalogue/categoryPage/{{page.traits}}/"><img src="{{site.baseurl}}/assets/img/{{page.traits}}.png" alt="symbol for {{page.traits}}" width= "45px" style="vertical-align:middle"></a> 

{% if page.styled == 'ya' %}
<a href="{{site.baseurl}}/catalogue/categoryPage/{{page.style}}/"><img src="{{site.baseurl}}/assets/img/{{page.style}}.png" alt="symbol for {{page.style}}" width= "45px" style="vertical-align:middle"></a>
{% endif %}

{% if page.grouped == 'ya' %}
<a href="{{site.baseurl}}/catalogue/categoryPage/{{page.group}}/"><img src="{{site.baseurl}}/assets/img/{{page.group}}.png" alt="symbol for {{page.group}}" width= "45px" style="vertical-align:middle"></a>{% endif %}

{% if page.group2 %}
<a href="{{site.baseurl}}/catalogue/categoryPage/{{page.group2}}/"><img src="{{site.baseurl}}/assets/img/{{page.group2}}.png" alt="symbol for {{page.group2}}" width= "45px" style="vertical-align:middle"></a>
{% endif %}
<br><br>

{%if page.audio == 'ya'%}
<audio controls> 
	<source src="{{site.baseurl}}/assets/audio/{{page.sound}}" type="audio/wav">
	<source src="{{site.baseurl}}/assets/audio/{{page.sound1}}" type="audio/ogg">
						Your browser does not support the audio element.
</audio>
{% endif %}

<br>
<br>



<table style="width:90%" align="center"
>
  <tr>
    <th>Name:</th>
    <th>{{page.title}}</th> 
  </tr>
  <tr bgcolor=#cdff63>
    <td>Family:</td>
    <td><a href="{{site.baseurl}}/catalogue/categoryPage/{{page.family}}/"><img src="{{site.baseurl}}/assets/img/{{page.family}}.png" alt="symbol for {{page.family}}" width= "45px" style="vertical-align:middle">{{page.family}}</a></td> 
  </tr>
  <tr bgcolor=#61f481>
    <td>Species:</td>
    <td><a href="{{site.baseurl}}/catalogue/categoryPage/{{page.species}}/"><img src="{{site.baseurl}}/assets/img/{{page.species}}.png" alt="symbol for {{page.species}}" width= "45px" style="vertical-align:middle">{{page.species}}</a></td> 
  </tr>

  <tr bgcolor=#61f4c5>
    <td>Traits:</td>
    <td><a href="{{site.baseurl}}/catalogue/categoryPage/{{page.traits}}/"><img src="{{site.baseurl}}/assets/img/{{page.traits}}.png" alt="symbol for {{page.traits}}" width= "45px" style="vertical-align:middle">{{page.traits}}</a></td> 
  </tr>

  {% if page.grouped == 'ya' %}
  <tr bgcolor=#9999ff>
    <td>Group:</td>
    <td><a href="{{site.baseurl}}/catalogue/categoryPage/{{page.group}}/"><img src="{{site.baseurl}}/assets/img/{{page.group}}.png" alt="symbol for {{page.group}}" width= "45px" style="vertical-align:middle">{{page.group}}</a>
    {% if page.group2 %}
    <a href="{{site.baseurl}}/catalogue/categoryPage/{{page.group2}}/"><img src="{{site.baseurl}}/assets/img/{{page.group2}}.png" alt="symbol for {{page.group2}}" width= "45px" style="vertical-align:middle">{{page.group2}}</a>
    {% endif %}

    </td> 
  </tr>
  {% endif %}

  {% if page.styled == 'ya' %}
  <tr bgcolor=#ff99cc>
    <td>Style:</td>
    <td><a href="{{site.baseurl}}/catalogue/categoryPage/{{page.style}}/"><img src="{{site.baseurl}}/assets/img/{{page.style}}.png" alt="symbol for {{page.style}}" width= "45px" style="vertical-align:middle">{{page.style}}</a></td> 
  </tr>
  {% endif %}


  <tr>
    <td>Habitat:</td>
    <td>{{page.habitat}}</td> 
  </tr>

  {% if page.birth == 'ya' %}
  <tr>
    <td>Birth:</td>
    <td>{{page.birth1}}</td> 
  </tr>
					
  {% endif %}

  
</table>
<br><br>


{{content}}


<br><br>

<div class="dataimage">

<a href="{{site.baseurl}}/assets/img/bugs/{{page.title}}/{{page.image2}}" alt="schimatic of {{page.title}}">
<img src="{{site.baseurl}}/assets/img/bugs/{{page.title}}/{{page.image2}}" alt="Schimatic of {{page.title}}" align="center" width="100%"></a> <br> 


</div>
<br>
<br>

<div class="dataimage">

<a href="{{site.baseurl}}/assets/img/bugs/{{page.title}}/{{page.image3}}" alt="schimatic of {{page.title}}">
<img src="{{site.baseurl}}/assets/img/bugs/{{page.title}}/{{page.image3}}" alt="Schimatic of {{page.title}}" align="center" width="100%"></a> <br> 


</div>
</div> 
